@{
    var db = Database.Open("HomeDrinks_DB");
    var sql = "SELECT * FROM test";
    var data = db.Query(sql);
}

<!DOCTYPE html>

<html lang="de">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>Titel meiner Website</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    </head>
    <body>
<ul>
        @foreach( var row in data){
         <li>   @row.name</li>
        }
    </ul>    
    </body>
</html>
