@{
    var db = Database.Open("HomeDrinks_DB");
    var sql = "SELECT * FROM test";
    var data = db.Query(sql);
}

<!DOCTYPE html>

<html lang="de">
    <head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <title>Titel meiner Website</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="stylesheet" href="CSS/StyleSheet.css">
    </head>
    <body>
    <nav id="navigation" class="clearfix">
        <ul>
            <li><a href="Defaukt.cshtml">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">Categories</a></li>
            <li><a href="#">Contact Us</a></li>
        </ul>
    </nav>
    <ul>
        @foreach( var row in data){
         <li>   @row.name</li>
        }
    </ul>    
    </body>
</html>
