@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <h1>@Session["hallo"].ToString()</h1>
        <p>Busengrabscher</p>
    </body>
</html>
