@{
    var db = Database.Open("HomeDrinks_DB");
    var sql = "SELECT * FROM Zutaten";
    var data = db.Query(sql);
}
<!DOCTYPE html>

<html lang="de">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />

        <title>Willkommen bei Home Drinks</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="stylesheet" href="CSS/StyleSheet.css">
        <link rel="stylesheet" href="CSS/overlay-category.css">
        <script src="JavaScript/overlay-category.js"></script>
        
    </head>
<!---- Wechsel zwischen Head und Body Bereich------------------------------------------------------------------------------------------------------>
    <body>
    <!---- Hier ist die Menüleiste--->
    <nav id="navigation" class="clearfix">
        <ul>
            <li><a href="startseite.cshtml">Startseite</a></li>
            <li><a href="favoriten.cshtml">Favoriten</a></li>
            <li><a href="einkaufsliste">Einkaufliste</a></li>
            <li><a href="cocktailliste">Cocktail-Liste</a></li>
            <li><a href="#">Log-In</a></li>
        </ul>
    </nav>
    <!---- Hier endet die Menüleiste--->

    <!---- Hier ist die Kategorieauswahl--->
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">☰ open</span>


    <div id="myNav" class="overlay">
     <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <div class="overlay-content">
        <a href="favoriten.cshtml">Favoriten</a>
        <a href="#">Services</a>
        <a href="#">Clients</a>
        <a href="#">Contact</a>
        </div>
    </div>
    <!---- Hier endet die Kategorieauswahl--->

    <!---- Suchfeld--->
        <form method="post">
        <input type="text" name="search" list="search">
            <datalist id="search">    
                @foreach( var row in data){
                 <option value="@row.Name"></option>
                }
            </datalist>
        </input>
        <input type="submit" value="Absenden">
        </form> 
    <!---- Suchfeld---> 

        @{
        if (IsPost) {
             string test = Request.Form["search"];
             <text>
             You entered: <br />
             @test <br />         
             </text>
            }
        }

    </body>
</html>
