@{
    var db = Database.Open("HomeDrinks_DB");
    var sql = "SELECT * FROM Zutaten";
    var data = db.Query(sql);
}




<!DOCTYPE html>

<html lang="de">
    <head>
        <script>
        $(function() {
 
        // if the function argument is given to overlay,
        // it is assumed to be the onBeforeLoad event listener
        $("a[rel]").overlay({
 
        mask: 'darkred',
        effect: 'apple',
 
        onBeforeLoad: function() {
 
            // grab wrapper element inside content
            var wrap = this.getOverlay().find(".contentWrap");
 
            // load the page specified in the trigger
            wrap.load(this.getTrigger().attr("href"));
        }
 
         });
            });
        </script>

        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />

        <title>Titel meiner Website</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link rel="stylesheet" href="CSS/StyleSheet.css">
        <link rel="stylesheet" href="CSS/overlay-apple.css">
    </head>
    <body>

    <!---- Hier ist die Menüleiste--->
    <nav id="navigation" class="clearfix">
        <ul>
            <li><a href="startseite.cshtml">Startseite</a></li>
            <li><a href="favoriten.cshtml">Favoriten</a></li>
            <li><a href="einkaufsliste">Einkaufliste</a></li>
            <li><a href="cocktailliste">Cocktail-Liste</a></li>
            <li><a href="#">Log-In</a></li>
        </ul>
    </nav>
    <!---- Hier endet die Menüleiste--->

    <!---- Hier ist die Kategorieauswahl--->
    <a href="favoriten.cshtml" rel="#overlay" style="text-decoration:none">
        <!-- remember that you can use any element inside the trigger -->
         <button type="button">Show external page in overlay</button>
    </a>
    <!---- Hier endet die Kategorieauswahl--->

    <!---- Suchfeld--->
        <form method="post">
        <input type="text" name="search" list="search">
            <datalist id="search">    
                @foreach( var row in data){
                 <option value="@row.Name"></option>
                }
            </datalist>
        </input>
        <input type="submit" value="Absenden">
        </form> 
        <!---- Suchfeld---> 

        @{
        if (IsPost) {
        string test = Request.Form["search"];
     

        <text>
          You entered: <br />
          @test <br />
         
        </text>
    }
}
        <!-- overlayed element -->
<div class="apple_overlay" id="overlay">
  <!-- the external content is loaded inside this tag -->
  <div class="contentWrap"></div>
</div>


    </body>
</html>
